/* selector universal */

*{
    margin: 0;
    padding: 0;
}

/* funetes */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* body */
body{
    background-color: #D6D6ED;
}

/* main */
main{
    background-color: white;
    width: 1100px;
    height: 600px;
    margin: 150px;
    margin-top: 400px;
    margin-bottom: 400px;
    border-radius: 12px;
}

/* services */
.services{
    text-align: center;
    padding-top: 90px;
    font-family: "Lato", sans-serif;
    color: #5353FD;
}

/* titulo */
.titulo{
    text-align: center;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
}

h1{
    color: #27277D;
    font-weight: 800;
}



/* logos y titulos */
img{
    width: 30px;
    height: 25px;
    border: 8px  solid transparent;
    border-radius: 22px;
    background-color: #5353FD;
    margin-bottom: 12px;
}

h3{
    font-family: "Lato", sans-serif;
    color: #27277D;
}



/* air */
.air{
    width: 200px;
    padding-top: 50px;
    margin-left: 80px;
}

/* visa */
.visa{
    width: 200px;
    padding-top: 50px;
    margin-left: 500px;
    margin-top: -190px;
}

/* hajj */
.hajj{
    width: 200px;
    padding-top: 50px;
    margin-left: 850px;
    margin-top: -190px;
}

/* tour */
.tour{
    width: 200px;
    padding-top: 50px;
    margin-left: 80px;
}

/* recruiting */
.recruiting{
    width: 200px;
    padding-top: 50px;
    margin-left: 500px;
    margin-top: -190px;
}

/* consultancy */
.consultancy{
    width: 200px;
    padding-top: 50px;
    margin-left: 850px;
    margin-top: -190px;
}

/* parrafos y titulos para ofertas */
h3{
    font-size: 15px;
}
.descripcion{
    text-align: left;
    padding-top: 1px;
    padding-top: 8px;
    font-weight: 500;
    color: #5B5B5E;
}





